<div class="flex col gap align view container">
	<h1>{{title}}</h1>

	{{#each messages}}
	{{#ifPosition position position='new-task'}}
	<div class="pre-animation {{type}} message">{{text}}</div>
	{{/ifPosition}}
	{{/each}}

	<form class="flex col gap align container new-task" action="/new" method="post">
		<div>
			<label for="new-task-title">Task:</label>
			{{#with form_data}}
			<input type="text" name="new-task-title" id="new-task-title" value="{{title}}" autocomplete="off">
			{{/with}}
		</div>
		<div>
			<label for="new-task-datetime">Due Date & Time:</label>
			{{#with form_data}}
			<input type="datetime-local" name="new-task-datetime" id="new-task-datetime" value="{{datetime}}">
			{{/with}}
		</div>
		<button class="max" type="submit">ADD</button>
	</form>

	{{#each messages}}
	{{#ifPosition position position='task-list'}}
	<div class="pre-animation {{type}} message">{{text}}</div>
	{{/ifPosition}}
	{{/each}}

	<div class="flex row gap wrap justify container task-list">
		{{#each tasks}}
		<div class="flex col gap container task">
			<div>{{title}}</div>
			<div>{{due_datetime}}</div>
		</div>
		{{/each}}
	</div>
</div>