<div class="flex col gap align view container">
	<h1>{{title}}</h1>

	{{#each messages}}
	{{#ifPosition position position='new-task'}}
	<div class="pre-animation {{type}} message">{{text}}</div>
	{{/ifPosition}}
	{{/each}}

	<form class="flex col gap container" action="/new" method="post">
		<div>
			<label for="new-task-title">Task:</label>
			<input type="text" name="new-task-title" id="new-task-title">
		</div>
		<button type="submit">ADD</button>
	</form>

	{{#each messages}}
	{{#ifPosition position position='task-list'}}
	<div class="pre-animation {{type}} message">{{text}}</div>
	{{/ifPosition}}
	{{/each}}
</div>