<div class="flex col gap justify align view container">
	<h1>{{title}}</h1>

	{{#each messages}}
	{{#ifPosition position position='login'}}
	<div class="pre-animation {{type}} message">{{text}}</div>
	{{/ifPosition}}
	{{/each}}

	<form class="flex col gap align container login" action="/login" method="post">
		<div class="flex col gap align">
			<label for="login-username">Username:</label>
			{{#with form_data}}
			<input class="center" type="text" name="login-username" id="login-username" value="{{username}}" autocomplete="off">
			{{/with}}
		</div>
		<div class="flex col gap align">
			<label for="login-password">Password:</label>
			{{#with form_data}}
			<input class="center" type="password" name="login-password" id="login-password" value="{{password}}">
			{{/with}}
		</div>
		<div class="container">
			<button class="" type="submit">LOGIN</button>
		</div>
	</form>

	<div class="invisible">I</div>
	<div class="invisible">L</div>
	<div class="invisible">Y</div>
</div>