<div class="flex col gap align view container">
	<h1>{{title}}</h1>

	<form class="flex col gap align container" action="/new" method="post">
		{{#each messages}}
		{{#ifPosition position position='new-task'}}
		<div class="{{type}} message">{{text}}</div>
		{{/ifPosition}}
		{{/each}}

		<div>
			<label for="new-task-title">Task:</label>
			{{#with form_data}}
			<input type="text" name="new-task-title" id="new-task-title" value="{{title}}" autocomplete="off">
			{{/with}}
		</div>
		<div>
			<label for="new-task-datetime">Due Date & Time:</label>
			{{#with form_data}}
			<input type="datetime-local" name="new-task-datetime" id="new-task-datetime" value="{{datetime}}">
			{{/with}}
		</div>
		<button class="max" type="submit">ADD</button>
	</form>

	<div class="flex row gap wrap justify align container task-list">
		{{#each messages}}
		{{#ifPosition position position='task-list'}}
		<div class="pre-animation {{type}} message">{{text}}</div>
		{{/ifPosition}}
		{{/each}}

		{{#each tasks}}
		<div class="flex col gap container task">
			<div>{{title}}</div>
			<div>{{due_datetime}}</div>
		</div>
		{{/each}}
	</div>
</div>